body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin:0;
    background-color: whitesmoke;
}



#container{
    width: 80%;
    margin: auto;
    overflow: hidden;
   
}



#header {
    background-color: lightblue;

}
#header h2{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#header p{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


#navigation {
    background-color: lightgreen;
    
}
#navigation ul {
    padding: 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

#navigation li {
   display: inline;
   font-size: 25px;
   padding-right: 10px;
   font-weight: bold;
   color: white;
}

#intro {
    background-image: url("background.jpeg");
    height: 300px;
    position: relative;

}
#intro h2{
    text-align: center;
    padding-top: 125px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}



#firstsection{
    float:left;
    text-align: center;
    width: 60%;
    margin-top:30px;
    margin-left: 10px;
    min-height: 300px;
    max-height: max-content;
    background-color: aquamarine;
    border: 1px dotted black;

}

#firstaside{
    float: right;
    width: 33%;
    margin-top:30px;
    margin-right: 10px;
    min-height: 300px;
    max-height: max-content;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px dotted black;

}
 
#mainfooter{
    float:left;
    width: 100%;
    background: lightgreen;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 7%;
    text-align: center;

}

@media(max-width: 500px){
    #intro{
        width: 100%
    }
    
}
